<footer class="footer">
	<small>
		<a href="http://rubyonrails.org/">Create on Ruby on Rails</a>
		by Rozhnov Grisha
	</small>
	<nav>
		<ul>
			<li><%= link_to "Про нас",  about_path %></li>
			<li><%= link_to "Контакти", contact_path %></li>
		</ul>
	</nav>
</footer>